header {
  background-color: rgba(6, 43, 99, 1); 
  color: white; 
  padding: 10px;
  text-align: center;
  height: 15px;

}

footer {
  background-color: rgba(6, 43, 99, 1); 
  color: white; 
  padding: 1px;
  font-family: Inter, sans-serif;
  text-align: center;
  bottom: 0;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}




.pageStyle {
  background: white;
}

.spacedTextStyle {
  letter-spacing: 25px;
}

.footerTextStyle1 {
  font-size: 30px;
  text-align: center;
}
.footerTextStyle2 {
  font-size: 15px;
  text-align: center;
}
.imageContainerStyle {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rowsize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column1 {
  background: red;
}
